body {
    background-color: black;
    font-family: sans-serif;
    color: white;
}

.card {
    background: coral;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

.card-title {
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
}

.card-subtitle {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
}

.card-content {
    font-size: 9px;
    padding: 20px;
    background: lightcoral;
    text-align: justify;
}

.card-img {
    width: 100px;
    border-radius: 50%;
}